.navright {
  float: right;
  margin-right: 10px; }

.undernav {
  height: 50px;
  width: 100%;
  border: 1px solid black;
  margin-top: 20px; }

.categories {
  height: 400px;
  width: 250px;
  border: 1px solid black;
  float: left;
  margin-top: 75px;
  margin-left: 20px; }
