a:link {
  text-decoration: none;
  color: #2D73AD; }

a:visited {
  text-decoration: none;
  color: #2D73AD; }

a:hover {
  text-decoration: underline; }

.navright {
  float: right;
  margin-right: 10px;
  color: #2D73AD;
  margin-top: 20px;
  font-size: 18px; }

.undernav {
  height: 30px;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-top: 13px; }

.categories {
  height: 400px;
  width: 250px;
  border: 1px solid lightgrey;
  float: left;
  margin-top: 55px;
  margin-left: 20px;
  background-color: white; }

#grid {
  height: 4000px;
  width: 1100px;
  margin-top: 20px;
  margin-left: 300px;
  padding-top: 20px; }

.box1 {
  height: 250px;
  width: 275px;
  border: 1px solid black;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px; }

.etsy {
  color: #D55C23;
  font-size: 40px;
  margin-left: 30px;
  margin-right: 10px; }

.search {
  width: 400px;
  height: 30px;
  background-color: #FAFAF9;
  border: 1px solid lightgrey;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px; }

.searchbutton {
  margin-left: -7px;
  height: 35px;
  width: 75px;
  border-radius: 0px 5px 5px 0px;
  border: 0px;
  color: white;
  font-size: 13px;
  background-color: #4395B4; }

.signin {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  border: 1px solid #2D73AD;
  border-radius: 3px; }

.cartpng {
  height: 20px;
  width: 20px;
  vertical-align: top; }

.cart {
  vertical-align: bottom;
  color: grey;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid lightgrey; }

.leftundernav {
  margin-left: 30px; }

.catspace a {
  margin-right: 12px;
  margin-top: 10px;
  padding-left: 10px;
  color: grey;
  text-decoration: none; }

.greybox {
  width: 100%;
  height: 2100px;
  background-color: #F3F2EE;
  position: absolute; }

.showresultsfor {
  margin-left: -250px;
  margin-top: -80px; }

.footer {
  clear: both;
  margin-left: 320px; }
