a:link {
  text-decoration: none;
  color: #2D73AD; }

a:visited {
  text-decoration: none;
  color: #2D73AD; }

a:hover {
  text-decoration: underline; }

.navright {
  float: right;
  margin-right: 10px;
  color: #2D73AD;
  margin-top: 20px;
  font-size: 18px; }

.undernav {
  height: 30px;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-top: 13px; }

.categories {
  height: 420px;
  width: 210px;
  border: 1px solid lightgrey;
  float: left;
  margin-top: 55px;
  margin-left: 20px;
  background-color: white; }

#grid {
  height: 1500px;
  width: 1170px;
  margin-top: 20px;
  margin-left: 240px;
  padding-top: 20px; }

.box1 a {
  height: 240px;
  width: 270px;
  border: 1px solid lightgrey;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  background-color: white; }

.etsy {
  color: #D55C23;
  font-size: 40px;
  margin-left: 30px;
  margin-right: 10px; }

.search {
  width: 400px;
  height: 30px;
  background-color: #FAFAF9;
  border: 1px solid lightgrey;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px; }

.searchbutton {
  margin-left: -7px;
  height: 35px;
  width: 75px;
  border-radius: 0px 5px 5px 0px;
  border: 0px;
  color: white;
  font-size: 13px;
  background-color: #4395B4; }

.signin {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  border: 1px solid #2D73AD;
  border-radius: 3px; }

.cartpng {
  height: 20px;
  width: 20px;
  vertical-align: top; }

.cart {
  vertical-align: bottom;
  color: grey;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px solid lightgrey; }

.leftundernav {
  margin-left: 30px; }

.catspace a {
  margin-right: 12px;
  margin-top: 10px;
  padding-left: 10px;
  color: grey;
  text-decoration: none; }

.greybox {
  width: 100%;
  height: 2100px;
  background-color: #F3F2EE;
  position: absolute; }

.showresultsfor {
  margin-left: 20px;
  top: 40px;
  position: relative; }

.footer {
  clear: both;
  margin-left: 320px; }

img {
  height: 200px;
  width: 270px; }

.underBox {
  height: 94px;
  width: 270px; }

.itemPrice {
  margin-top: -30px;
  margin-left: 220px;
  color: lightgreen; }

.titleoverlap {
  margin-left: 5px;
  margin-top: -5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.shopName {
  margin-top: -10px;
  color: lightgrey;
  margin-left: 5px; }

li {
  list-style-type: none;
  padding-bottom: 8px; }

.allCategories {
  margin-left: 7px; }

.topcategories {
  font-size: 20px;
  margin-left: 115px;
  top: 30px;
  position: relative; }

.ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0; }

ul.pagination li {
  display: inline; }

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s; }

ul.pagination li a.active {
  background-color: lightgrey;
  color: white; }

ul.pagination li a:hover:not(.active) {
  background-color: #ddd; }
